extends layout

block content
  h1= title
  .container
    .row
      .col-lg-8
          form#user-name-form
            span Your Name:
            input#user-name(type='text', value='Anonymous')
            input#update-user-name.btn(type='button', value='update')
          #chatroom
          form#message-form
            textarea#new-message(rows='2', cols='50', maxlength='200')
            input.btn.btn-success(type='button', value='Send')
      .col-lg-4
        b Participants
        br
        div#participants
          - for user in users
            - var id = user.id
            p(id=id)= user.user_name

